:root {
  --color-bg: #f2f2f2;
  --color-bg-dark: #e4e4e4;
  --color-bg-dark-hover: #c0c0c0;
  --color-text: #0c0c0c;
  --color-text-light: #3d3d3d;
  --color-text-lighter: #6b6b6b;
  --color-border: #aeaeae;
  --color-accent: #F0A3A3;
  --color-error: #f47c74;
  --color-warning: #f5982d;
  --color-success: #3bda55;
}

:root {
  --radius-hg: 15px;
  --radius-lg: 10px;
  --radius-sm: 4px;
  --radius-tn: 3px;
}
