@import "./button-colors";
@import "./button-sizes";
@import "./button-detail";

.button {
  @include font(500);
  @include t();
  @include flex(5px, center);
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  font-size: 1.2rem;
  color: var(--color-text);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;

  svg {
    @include t();
    font-size: 1.4rem;
    color: var(--color-text);
  }

  &:disabled {
    pointer-events: none !important;
    color: var(--color-text-lighter);
    border-color: var(--color-bg-dark);

    svg {
      color: var(--color-text-lighter);
    }
  }

  &:hover {
    color: var(--color-text);
    background-color: var(--color-bg-light);
  }
}

.btn-hover {
  position: relative;

  &.btn-icon {
    display: block;
    z-index: 100;
    width: 16px;
    height: 16px;
    font-size: 1.8rem;
  }

  &:after {
    @include t();
    content: "";
    position: absolute;
    inset: -6px;
    z-index: -1;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
  }

  &:hover {
    &:after {
      opacity: 1;
      background-color: var(--color-bg-dark);
    }
  }
}