@import "./button-colors";
@import "./button-sizes";

.button {
  @include font(500);
  @include t();
  @include flex(5px, center);
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  font-size: 1.2rem;
  color: var(--color-text);
  text-decoration: none;
  text-transform: uppercase;

  svg {
    @include t();
    font-size: 1.4rem;
    color: var(--color-text);
  }

  &:disabled {
    pointer-events: none !important;
    color: var(--color-text-lighter);

    svg {
      color: var(--color-text-lighter);
    }
  }

  &:hover {
    color: var(--color-text);
    background-color: var(--color-bg-light);
  }
}


.button-hover {
  position: relative;

  &:after {
    @include t();
    content: "";
    position: absolute;
    inset: -8px -12px;
    z-index: -1;
  }

  &:hover {
    &:after {
      opacity: 1;
      background-color: var(--color-bg-dark-hover);
    }
  }
}