.button {
  &.btn-white {
    background-color: var(--color-bg);
    color: var(--color-text);

    svg {
      color: var(--color-text);
    }

    &:focus,
    &:hover {
      background-color: var(--color-bg-dark);
    }
  }

  &.btn-gray {
    background-color: var(--color-bg-dark);
    color: var(--color-text);

    svg {
      color: var(--color-text);
    }

    &:focus,
    &:hover {
      background-color: var(--color-bg-dark-hover);
    }
  }

  &.btn-black {
    background-color: var(--color-text);
    color: var(--color-bg);

    svg {
      color: var(--color-bg);
    }

    &:focus,
    &:hover {
      color: var(--color-bg);
      background-color: var(--color-text-light);
    }
  }

  &.btn-border {
    border-color: var(--color-text);
  }
}
