.button {
  &.btn-100 {
    width: 100%;
  }

  &.btn-wider {
    padding: 0 20px;
  }

  &.btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
  }

  &.btn-large {
    height: 52px;
    line-height: 52px;
    padding: 0 2em;

    svg {
      font-size: 2.2rem;
    }
  }
}
