.route-create {
  .wrapper {
    width: 100%;
    max-width: var(--small-width);
    margin: 0 auto;
    position: relative;
  }

  .disable-section {
    opacity: 0.25;
    pointer-events: none;
  }

  &>h1 {
    margin-bottom: 0 !important;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 3.6rem;

    &:has(+ p) {
      margin-bottom: 8px;
    }
  }

  h2+p {
    font-size: 1.6rem;
    margin-bottom: 32px;
  }

  .col {
    display: block;
  }

  .btn-add {
    @include font(400);
    grid-area: save;
    height: 40px;
    margin: 16px auto 0;

    &.offset {
      // margin: 0 auto;
      margin-left: auto;
      margin-right: auto;
      // width: calc(100% - 64px);
    }
  }

  .form {
    width: 100%;
    // max-width: 50vw;
    margin-bottom: 64px;
  }

  .form-item {
    margin-bottom: -1px;
    border: 1px solid var(--color-border);
    z-index: 5;
    padding: 10px;

    &:has(textarea:not(:placeholder-shown)),
    &:has(input:not(:placeholder-shown)) {
      border-color: var(--color-text);
    }
  }

  input,
  textarea {
    min-height: 40px;
    font-size: 1.6rem;
    border-radius: 8px;
  }

  ::placeholder {
    font-size: 1.6rem;
  }

  textarea {
    transition: none;
    min-height: 192px;
    resize: vertical;
  }

  .small-info {
    @include grid(0, 3);

    .form-item {
      margin: 0;

      &:not(:last-of-type) {
        border-right: none;
      }
    }
  }

  .image-preview {
    position: relative;

    input {
      padding-right: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .preview {
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 60px;
      height: 60px;
      border-radius: 8px;
      z-index: 5;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .ingredient-form {
    .ingredient-item {
      @include grid(0, 3);
      width: 100%;
      position: relative;
    }

    .dropdown-wrap {
      display: block;
      width: 100%;

      button {
        width: 100%;
      }

      &.has-selected .form-item {
        border-color: var(--color-text);
      }
    }

    .form-item {
      &:first-of-type {
        border-right: none;
      }

      &:nth-of-type(2) {
        border-right: none;
      }
    }
  }

  .btn-close {
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    z-index: 100;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  ol {
    counter-reset: ol;
    padding-left: 64px;

    li {
      counter-increment: ol;
      position: relative;

      &:before {
        content: counter(ol) ".";
        @include font(700);
        display: block;
        position: absolute;
        left: -48px;
        top: 0;
        font-size: 4rem;
        opacity: 0.2;
      }
    }
  }

  .step-textarea {
    position: relative;

    textarea {
      min-height: 96px;
    }
  }
}

.submit-bar {
  @include flex(64px);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 2em 0;
  width: 100%;
  max-width: var(--small-width);
  border-bottom: 1px solid var(--color-border);
  margin: 0 auto;
  margin-bottom: 64px;
  background-color: var(--color-bg);

  .button:not(:disabled) {
    svg {
      color: var(--color-accent) !important;
    }
  }

  .submit-progress {
    flex: 1;
    display: block;

    ul {
      @include flex(32px);

      li {
        @include flex(16px);
        position: relative;
        padding-left: 24px;
        font-size: 1.4rem;
        color: var(--color-text-light);
        white-space: nowrap;

        &:not(:last-child) {
          width: 100%;

          &:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background-color: var(--color-border);
          }
        }

        &.complete {
          color: var(--color-text);

          &:before {
            background-color: var(--color-accent);
            border-color: var(--color-accent);
          }

          &:after {
            background-color: var(--color-text);
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 11px;
          height: 11px;
          background-color: transparents;
          border: 1px solid var(--color-border);

        }
      }
    }
  }

  // .button {
  //   // width: 100%;
  // }

  .submit-error {
    display: block;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--color-error);
  }
}