.filters {
  @include flex(2em);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 2em;
  
  &.show-border:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: -256px;
    right: -256px;
    border-bottom: 1px solid var(--color-border);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--color-bg);
    left: -10%;
    right: -10%;
    z-index: -1;
  }

  .form-item {
    &.text {
      width: 512px;
    }
  }
}