.route-ingredients {
  h1 {
    margin-bottom: 32px;
  }



  .ingredients-list {
    width: 100%;
    max-width: var(--small-width);
    margin: 0 auto;
    padding-bottom: 64px;

    .filters {
      margin-bottom: 32px;

      &:after {
        right: 0;
        left: 0;
      }
    }

    .list-grid {
      &>li {
        @include grid(32px, 96px 1fr);
        position: relative;
        margin-bottom: -1px;
        border-bottom: 1px solid var(--color-border);

        &:last-of-type {
          border-bottom: 0
        }

        .letter-title {
          @include font(700);
          display: block;
          font-size: 2rem;
          text-transform: uppercase;
          position: sticky;
          top: 32px;
          width: 100%;
          text-align: left;
          opacity: 0.25;
          padding-top: 16px;
          padding-left: 16px;
        }

        .ingredient-data {
          padding: 16px;

          p {
            display: block;
            font-size: 1.6rem;
            margin-bottom: 16px;
          }

          hr {
            margin: 16px 0;
          }

          div {
            text-align: right;
          }

          span {
            font-size: 1rem;
            position: relative;
            color: var(--color-text);
            opacity: 0.4;

            b {
              @include font(400);
              color: var(--color-text);
            }

            &:not(:last-child) {
              padding-right: 16px;
              margin-right: 16px;

              &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 1px;
                background-color: var(--color-border);
              }
            }
          }
        }
      }

      .btn-details {
        display: block;
        width: 100%;
        border-bottom: 1px solid var(--color-border);
        cursor: pointer;
        border: 1px solid transparent;
        margin-bottom: -1px;
        border-left: 1px solid var(--color-border);

        &.open {
          // border-color: var(--color-text);

          &>button {
            background-color: var(--color-bg-dark);
            //   border-bottom-color: var(--color-text);
            //   background-color: var(--color-bg-dark);
          }
        }

        &.open>button svg,
        &>button:hover svg {
          visibility: visible
        }

        &>button {
          @include flex(0, space-between);
          width: 100%;
          text-align: left;
          padding: 16px 32px;
          border-bottom: 1px solid transparent;

          span {
            @include font(400);
            font-size: 1.8rem;

          }

          svg {
            visibility: hidden;
            font-size: 24px;
            color: var(--color-text);
          }

          &:hover {
            background-color: var(--color-bg-dark);
          }
        }
      }
    }

  }
}

.create-ingredient {
  .form-item {
    margin-bottom: -1px;
    // margin-bottom: 16px;
    padding: 12px;
    border: 1px solid var(--color-border);

    &:last-of-type {
      margin-bottom: 16px;
    }
  }
}