.recipe-list-wrap {
  padding-bottom: 10em;
  width: 100%;
}

$item-width: 456px;

.recipe-item {
  @include t();
  @include grid(64px, $item-width 1fr);
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: var(--color-text);
  padding: 2em;
  border: 1px solid var(--color-border);
  margin-bottom: -1px;
  position: relative;

  &:hover {
    z-index: 10;
    border-color: var(--color-text);

    // This will allow the bottom border to be visible
    & + .recipe-item {
      z-index: -1;
    }

    .recipe-image img {
      width: 120%;
      height: 120%;
    }
  }

  .recipe-image {
    display: block;
    height: 292px;
    width: $item-width;
    min-width: $item-width;
    min-height: 292px;
    position: relative;
    overflow: hidden;

    img {
      @include t(0.3s);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 125%;
      height: 125%;
      object-fit: cover;
    }
  }

  .item-info {
    display: block;
    width: 75%;

    .recipe-name {
      @include font(700);
      font-size: 4.4rem;
      display: block;
      margin-bottom: 8px;
      text-wrap: pretty;
    }
  
    .recipe-desc {
      @include font(400);
      margin-bottom: 16px;
      font-size: 1.6rem;
      line-height: 1.4em;
      color: var(--color-text-light);
      text-wrap: pretty;
    }
  }
}

.no-recipe {
  width: 50%;
  padding: 4em;
  padding-top: 10em;
  border-radius: 4px;
  border: 1px solid var(--color-text);

  img {
    display: block;
    width: 216px;
    margin: 0 auto 32px;
  }

  h2 {
    font-size: 8rem;
  }

  p {
    color: var(--color-text-light);

    a {
      @include font(500);
      color: var(--color-accent);
    }
  }
}