.recipe-list-wrap {
  @include grid(0, 3);
  padding-bottom: 10em;
  width: 100%;
  margin: 0 auto;
  padding-top: 2em;
}

.recipe-item {
  // @include t();
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: var(--color-text);
  position: relative;
  padding: 2em;

  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);

  &.disable-bottom-border {
    border-bottom: 0;
  }

  &:nth-child(3n) {
    border-right: none !important;
  }

  &:hover {
    z-index: 10;
    background-color: var(--color-bg-dark);

    .recipe-image {
      ul li {
        background-color: var(--color-bg-dark);
      }

      img {
        width: 120%;
        height: 120%;
      }
    }
  }

  .recipe-image {
    display: block;
    height: 292px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;

    ul {
      @include flex(0);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;
      margin: 0;

      li {
        // @include flex(4px);
        padding: 8px 12px;
        background-color: var(--color-bg);
        position: relative;

        &:not(:last-of-type):after {
          content: "";
          position: absolute;
          top: 8px;
          right: 0;
          bottom: 8px;
          border-right: 1px solid var(--color-border)
        }
      }


    }

    img {
      @include t(0.3s);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 125%;
      height: 125%;
      object-fit: cover;
      z-index: 2;
    }
  }

  .item-info {
    display: block;

    .recipe-name {
      @include font(700);
      font-size: 2.4rem;
      display: block;
      margin-bottom: 8px;
      text-wrap: pretty;
    }

    .recipe-desc {
      @include font(400);
      display: -webkit-box;
      font-size: 1.6rem;
      line-height: 1.4em;
      color: var(--color-text-light);
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}

.no-recipe {
  width: 50%;
  padding: 4em;
  padding-top: 10em;
  border-radius: 4px;
  border: 1px solid var(--color-text);

  img {
    display: block;
    width: 216px;
    margin: 0 auto 32px;
  }

  h2 {
    font-size: 8rem;
  }

  p {
    color: var(--color-text-light);

    a {
      @include font(500);
      color: var(--color-accent);
    }
  }
}