.route {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;

  & > h1 {
    font-size: 14rem;
    margin-bottom: 20px;
  }

  &.route-home {
    padding-top: 4em;
  }

  &.route-recipe {
    padding: 2em;
  }
}

