.route {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 6em;

  & > h1 {
    display: block;
    font-size: 14rem;
    width: 100%;
    margin-bottom: 32px;

    &.underline {
      padding-bottom: 16px;
      margin-bottom: 64px;
      border-bottom: 1px solid var(--color-border);
    }
  }

  &.route-home {
    padding-top: 4em;
  }

  &.route-recipe {
    padding: 0 2em;
  }
}

