/*
Generic dropdown styling, allowing you to al
*/

.dropdown {
  // border-radius: var(--radius-sm);
  background-color: var(--color-bg-light);
  padding: 10px 0;
  z-index: 1000;
  width: 176px;
  position: absolute;
  max-height: 424px;
  overflow-y: auto;
  border: 1px solid var(--color-border);

  a {
    @extend .button;
  }

  a,
  .button {
    display: block;
    text-align: left;
    border-radius: 0 !important;
    justify-content: flex-start;
    width: 100%;
    padding: 0 16px;
    position: relative;
    border: none;

    b {
      display: inline;
      @include font(700);
      color: var(--color-accent);
    }

    &:hover {
      background-color: var(--color-bg-dark-hover);
    }

    &.is-selected {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: var(--color-accent);
      }
    }

    svg {
      text-align: center;
      color: var(--color-accent);
      margin-right: 12px;
    }
  }
}

.dropdown-wrap {
  position: relative;

  &.has-selected {
    &>button {
      ::placeholder {
        color: var(--color-text) !important;
        opacity: 1 !important;
      }
    }
  }
}