/*
Utility layout classes
*/

:root {
  --max-width: 1880px;
  --narrow-width: 1208px;
  --small-width: 926px;
}

.flex {
  @include flex(15px);

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-64 {
  gap: 64px;
}

.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.container {
  // max-width: 1148px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6em;

  &.c-mid {
    max-width: 896px;
  }

  &.c-small {
    max-width: 680px;
  }
}

.grid {
  display: grid;

  &.col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

hr {
  margin: 16px 0;

  &.hr-32 {
    margin: 32px 0;
  }

  &.hr-48 {
    margin: 48px 0;
  }
}