:root.dark-theme {
  // Dark theme styling

  header.main-navigation .logo-wrap img {
    filter: invert(100);
  }

  .alert {

    .alert-badge,
    p {
      color: var(--color-bg);
    }
  }

  .dialog-wrap:after {
    background-color: var(--color-bg-dark);
    opacity: 0.75;
  }

  .submit-bar {
    .button:not(:disabled) {
      color: var(--color-bg);

      svg {
        color: var(--color-bg);

      }
    }
  }

}